/*Font Queries*/
/*Cormorant Garamond*/
 @font-face {
    font-family: "Cormorant Garamond";
    src: url("https://itdept-jta.github.io/web-projects/fonts/CormorantGaramond-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: 400;
    }

/*Manrope*/
 @font-face {
    font-family: "Manrope";
    src: url("https://itdept-jta.github.io/web-projects/fonts/Manrope-ExtraLight.ttf");
    font-style: normal;
    font-weight: 100;
    }

 @font-face {
    font-family: "Manrope";
    src: url("https://itdept-jta.github.io/web-projects/fonts/Manrope-Light.ttf");
    font-style: normal;
    font-weight: 300;
    }

 @font-face {
    font-family: "Manrope";
    src: url("https://itdept-jta.github.io/web-projects/fonts/Manrope-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    }

 @font-face {
    font-family: "Manrope";
    src: url("https://itdept-jta.github.io/web-projects/fonts/Manrope-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    }

 @font-face {
    font-family: "Manrope";
    src: url("https://itdept-jta.github.io/web-projects/fonts/Manrope-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
    }

 @font-face {
    font-family: "Manrope";
    src: url("https://itdept-jta.github.io/web-projects/fonts/Manrope-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    }

 @font-face {
    font-family: "Manrope";
    src: url("https://itdept-jta.github.io/web-projects/fonts/ExtraBold.ttf");
    font-style: normal;
    font-weight: 900;
    }

/*Avenir Next*/
 @font-face {
    font-family: "Avenir Next";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvenirNextCyr-UltraLight.ttf");
    font-style: normal;
    font-weight: 100;
    }
 @font-face {
    font-family: "Avenir Next";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvenirNextCyr-Thin.ttf");
    font-style: normal;
    font-weight: 200;
    }
 @font-face {
    font-family: "Avenir Next";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvenirNextCyr-Light.ttf");
    font-style: normal;
    font-weight: 300;
    }
 @font-face {
    font-family: "Avenir Next";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvenirNextCyr-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    }
 @font-face {
    font-family: "Avenir Next";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvenirNextCyr-Regular.ttf");
    font-style: normal;
    font-weight: normal;
    }
 @font-face {
    font-family: "Avenir Next";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvenirNextCyr-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    }
 @font-face {
    font-family: "Avenir Next";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvenirNextCyr-Demi.ttf");
    font-style: normal;
    font-weight: 600;
    }
 @font-face {
    font-family: "Avenir Next";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvenirNextCyr-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    }
 @font-face {
    font-family: "Avenir Next";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvenirNextCyr-Bold.ttf");
    font-style: normal;
    font-weight: bold;
    }
 @font-face {
    font-family: "Avenir Next";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvenirNextCyr-Heavy.ttf");
    font-style: normal;
    font-weight: 900;
    }

/*Avant Garde*/
 @font-face {
    font-family: "Avant Garde";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvantGarde%20Book.ttf");
    font-style: normal;
    font-weight: 300;
    }

 @font-face {
    font-family: "Avant Garde";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvantGarde%20Normal.ttf");
    font-style: normal;
    font-weight: 400;
    }

 @font-face {
    font-family: "Avant Garde";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvantGarde%20Normal.ttf");
    font-style: normal;
    font-weight: normal;
    }

 @font-face {
    font-family: "Avant Garde";
    src: url("https://itdept-jta.github.io/web-projects/fonts/AvantGarde%20Demi.ttf");
    font-style: normal;
    font-weight: 700;
    }


/*NOAH TEXT*/
@font-face {
  font-family: "Noah";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Noah-Text-Regular.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Noah";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Noah%20Text%20Bold.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noah";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Noah%20Text%20Bold.ttf?raw=true")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*STRANGER IN THE NIGHT*/
@font-face {
  font-family: "Stranger";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Stranger%20back%20in%20the%20Night.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*MAJESTI BANNER*/
@font-face {
  font-family: "Majesti";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Majesti-Banner-Book.ttf?raw=true")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Majesti";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Majesti-Banner-BookItalic.ttf?raw=true")
    format("truetype");
  font-weight: 200;
  font-style: Italic;
}

@font-face {
  font-family: "Majesti";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Majesti-Banner-Light.ttf?raw=true")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Majesti";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Majesti-Banner-LightItalic.ttf?raw=true")
    format("truetype");
  font-weight: 300;
  font-style: Italic;
}


@font-face {
  font-family: "Majesti";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Majesti-Banner-Medium.ttf?raw=true")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Majesti";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Majesti-Banner-MediumItalic.ttf?raw=true")
    format("truetype");
  font-weight: 400;
  font-style: Italic;
}

@font-face {
  font-family: "Majesti";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Majesti-Banner-Bold.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Majesti";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Majesti-Banner-BoldItalic.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: Italic;
}

@font-face {
  font-family: "Majesti";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Majesti-Banner-Heavy.ttf?raw=true")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Majesti";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Majesti-Banner-HeavyItalic.ttf?raw=true")
    format("truetype");
  font-weight: 900;
  font-style: Italic;
}

/*TEXTA*/
@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaThin.ttf?raw=true")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaThinIt.ttf?raw=true")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaLight.ttf?raw=true")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaLightIt.ttf?raw=true")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaBook.ttf?raw=true")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaBookIt.ttf?raw=true")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaRegular.ttf?raw=true")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaRegularIt.ttf?raw=true")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaMedium.ttf?raw=true")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaMediumIt.ttf?raw=true")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaBold.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaBoldIt.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaHeavy.ttf?raw=true")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaHeavyIt.ttf?raw=true")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaBlack.ttf?raw=true")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TextaBlackIt.ttf?raw=true")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

/*TRUE LIES*/
@font-face {
  font-family: "True Lies";
  src: url("https://itdept-jta.github.io/web-projects/fonts/True%20Lies.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*The Citizens*/
@font-face {
  font-family: "Citizens";
  src: url("https://itdept-jta.github.io/web-projects/fonts/the%20Citizens.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*ARVO*/
@font-face {
  font-family: "Arvo";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Arvo-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Arvo";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Arvo-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*HELVETICA NOW*/
@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-ThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-ExtLtIta.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-RegIta.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-ExtBdIta.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNowText-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

/*HELVETICA NEUE*/
@font-face {
  font-family: "Helvetica Neue";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNeue Thin.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNeue Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNeue Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Helvetica Neu Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("https://itdept-jta.github.io/web-projects/fonts/HelveticaNeue BlackCond.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

/*Ananda*/

@font-face {
  font-family: "Ananda";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Ananda%20Personal%20Use.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ananda";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Ananda%20Black%20Personal%20Use.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

/*GOTHAM*/

@font-face {
  font-family: "Gotham";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Gotham%20Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Gotham%20Light.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Gotham%20Book.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Gotham%20Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Gotham%20Medium.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Gotham%20Regular.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Gotham%20Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Gotham%20Black.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Gotham-Ultra.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}


/*OTHERS*/

/*POPPINS*/
@font-face {
  font-family: "Poppins";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Poppins-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Poppins-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Poppins-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://itdept-jta.github.io/web-projects/fonts/Poppins-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "tw-cen-mt-std";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TwCenMTStdLight.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "tw-cen-mt-std";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TwCenMTStd.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tw-cen-mt-std";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TwCenMTStdBold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "tw-cen-mt-std";
  src: url("https://itdept-jta.github.io/web-projects/fonts/TwCenMTStdExtraBold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "tw-cen-mt-std";
  src: url("https://itdept-jta.github.io/web-projects/fonts/twcenmtstdultrabold.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}

/*Font Classes*/
.avenir-next{ font-family: "Avenir Next"!important;}

.noteworthy{ font-family: "Noteworthy"!important;}

.avant{ font-family: "Avant Garde"!important;}

.tw-cen-mt-std {  font-family: "tw-cen-mt-std" !important;}

.Arvo {  font-family: "Arvo" !important;}

.ananda {  font-family: "Ananda" !important;}

.gotham {  font-family: "Gotham" !important;}

.manrope { font-family: "Manrope"!important;}

.cormorant{font-family: "Cormorant Garamond"!important;}

.helvetica_neue {  font-family: "Helvetica Neue" !important;}

.helvetica_now{  font-family: "Helvetica Now Text"!important;}

.centabel {  font-family: "Centabel" !important;}

.noah {  font-family: "Noah" !important;}

.poppins {  font-family: "Poppins" !important;}

.bebas_neue {  font-family: "Bebas Neue Pro" !important;}

.texta {  font-family: "Texta" !important;}

.majesti {  font-family: "Majesti" !important;}


